<% layout('./layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center"> Edit Tarheel</h1>
        <div class="col-6 offset-3">
            <form action="/UNCroster/<%=roster._id %>?_method=PUT" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="roster[name]" value="<%= roster.name %>" required>
                    <div class="valid-feedback">
                        Looks Dadgum Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="title">Playing Style</label>
                    <input class="form-control" type="text" id="title" name="roster[title]" value="<%= roster.title %>" required>
                    <div class="valid-feedback">
                        Looks Dadgum Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="class">Class</label>
                    <input class="form-control" type="text" id="class" name="roster[class]" value="<%= roster.class %>" required>
                    <div class="valid-feedback">
                        Looks Dadgum Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="hometown">Hometown</label>
                    <input class="form-control" type="text" id="hometown" name="roster[hometown]" value="<%= roster.hometown %>" required>
                    <div class="valid-feedback">
                        Looks Dadgum Good!
                    </div>
                </div>
                <div class="row mb-6">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label" for="height">Height</label>
                            <input class="form-control" type="text" id="height" name="roster[height]" value="<%= roster.height %>" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label" for="weight">Weight</label>
                            <input class="form-control" type="text" id="weight" name="roster[weight]" value="<%= roster.weight%>" required>
                        </div>
                    </div>
                    <div class="valid-feedback">
                        Looks Dadgum Good!
                    </div>
                </div>

                  <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" id="image" name="roster[image]" value="<%= roster.image%>" >
                </div>
                <div class="mb-3">
                <button class="btn btn-info">Update Tarheel</button>
                </div>
                <a href="/UNCroster">Go Back to Roster</a>
            </form>
        </div>
    </div>
