<% layout('./layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3" style="width: 18rem;">
                <img src="<%= roster.image%>" class="card-img-top" alt="photo">
                <div class="card-body">
                  <h5 class="card-title"><%= roster.name %></h5>
                  <p class="card-text"><%= roster.title %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= roster.class %></li>
                  <li class="list-group-item"><%= roster.height %> , <%= roster.weight %></li>
                  <li class="list-group-item"><%= roster.hometown %></li>
                </ul>
                <div class="card-body">
                  <a class="card-link btn btn-info" href="/UNCroster/<%= roster._id %>/edit" >Edit Player</a>
                  <form class="d-inline" action="/UNCroster/<%= roster._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                </div>
                <div class="card-footer text-muted">
                    Healthy
                </div>
              </div>
        </div>
    </div>
