<% layout('./layouts/boilerplate') %>

    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%= roster.image%>" class="card-img-top" alt="photo">
                <div class="card-body">
                  <h5 class="card-title"><%= roster.name %></h5>
                  <p class="card-text"><%= roster.title %></p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><%= roster.class %></li>
                  <li class="list-group-item"><%= roster.height %> , <%= roster.weight %></li>
                  <li class="list-group-item"><%= roster.hometown %></li>
                </ul>
                <% if(signedIn && roster.author.equals(signedIn._id)) { %>
                  <!-- hides edit button if not signed in -->
                <div class="card-body">
                  <a class="card-link btn btn-info" href="/UNCroster/<%= roster._id %>/edit" >Edit Player</a>
                  <form class="d-inline" action="/UNCroster/<%= roster._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                </div>
              <% } %>
                <div class="card-footer text-muted">
                    Healthy
                </div>
              </div>

        </div>
        <div class="col-6">
          <% if(signedIn) { %>
          <h2>Leave Your Scorthing Takes</h2>
              <form action="/UNCroster/<%=roster._id  %>/take" method="POST" class="mb-3 validated-form" novalidate>
                <div class="mb-3">
                  <label class="form-label" for="body">Hot Takes</label>
                  <textarea class= "form-control" name="take[body]" id="body" cols="30" rows="2" required></textarea>
                  <div class="valid-feedback">
                    🔥🔥🔥
                  </div>
                </div>
                <button class="btn btn-success">Submit</button>
              </form>
              <% } %>
              <%  for( let hotTakes of roster.takes) {%>
                <div class="card mb-3">
              <div class="card-body">
                <h5 class="card-title">Hot Take:</h5>
              <p class="card-text"><%= hotTakes.body %></p>
              <h6 class="card-subtitle mb-2 text-muted">By <%= hotTakes.author.username  %></h6>
              <% if(signedIn && hotTakes.author.equals(signedIn._id)) { %>
              <form action="/UNCroster/<%=roster._id%>/take/<%=hotTakes._id%>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger"> Delete</button>
              </form>
              <% } %>
              </div>
            </div>
              <% } %>
        </div>
    </div>
